/*스타일*/
*/*전체 태그, 박스사이징*/
{
    box-sizing: border-box;
    margin: 0;
}

/*헤더 영역*/

header
{
    width: 960px;
    /*width: 1200px*/
    /*margin: 0 auto 0 auto; 위 오른쪽 아래 왼쪽 (시계방향), 중복된 패턴이 있을 시, 한 번만 기입하면 뒤에 자동으로 적용.*/
    margin: 0 auto;
    /*margint-top: 0;
    margint-bottom: 0;
    margin-left: auto;
    margin-right: auto; 이게 원래의 표기*/
    padding: 15px 10px;
    /*padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;*/
    color: rgb(255, 255, 255); /*텍스트 컬러.*/
    background-color:midnightblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*메뉴 영역*/

nav
{
    width: 960px;
    margin: 0 auto;
    background-color: rgb(255, 223, 119);
    padding: 10px 10px; /*여유공간.*/
}

/*숫자 없애기*/
ol /*ul의 자식은 li*/   
{
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

ol li
{
    margin-right: 20px; /*Home, 2절 웹만들기 띄어주는.*/
}

a
{
    text-decoration: none;  /*언더라인 사라짐.*/
}

/*메인 영역*/
main
{
    width: 960px;
    margin: 0 auto;
    border: 1px dotted black;
    display: flex;
    /*flex 4개.*/
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
}

section.left, section.right
{
    width: 100%;
    height: 400px;
    border: 1px solid black;
    padding: 10px;
}
/*flex는 부모에만 사용.*/
section.right
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: center;
    align-items: center;*/

    justify-content: right;
    align-items: end;
}

/*푸터 영역*/
footer
{
    width: 960px;
    margin: 0 auto;
    background-color: rgb(222, 255, 218);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer p
{
    text-align: center;
}