@charset "UTF-8";

*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* carousel */
div.slideShow
{
    background-color: rgba(255, 98, 145, 0.473);
    height: 465px;
    /* width: 100%; */
    min-width: 960px;
    /* 최상위 부모니까 absolute를 위해 relative 적용! */
    position: relative;
    border: 1px solid red;
    /* overflow: hidden; */
}

div.slideShow_slides
{
    position: absolute;
    /* 부모의 몇%를 차지하는가? */
    width: 100%;    /*부모것 다 차지하겠다. 960px*/
    height: 100%;    /*부모것 다 차지하겠다. 960px*/
}

div.slideShow_slides a
{
    /* absolute해버리면 원래 block이 됨. 다 겹쳐졌는데, 옆배치를 해야하니 display inline block으로. */
    position: absolute;
    /* 부모의 몇%를 차지하는가? */
    width: 100%;    /*부모것 다 차지하겠다. 960px*/
    height: 100%;    /*부모것 다 차지하겠다. 960px*/
    display: inline-block;
    text-align: center;
}

div.slideShow_nav a
{
    position: absolute;
    left: 50%;
    top: 50%;
    /* color: rgba(255, 255, 255, 0.877); */
    color: white;
    font-size: 62px;
    transform: translateY(-50%);
    opacity: 0.5;
}

div.slideShow_nav a.pre
{
    margin-left: -462px;
}

div.slideShow_nav a.next
{
    margin-left: 400px;
}

div.slideShow_indicator
{
    position: absolute;
    /* 부모의 bottom */
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
    text-align: center;
}

div.slideShow_indicator a
{
    display: inline-block;
    color: white;
    padding: 7px;
    font-size: 24px;
}

div.slideShow_indicator a.active
{
    color: rgba(255, 123, 0, 0.9);
}